*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #fff; */
  font-family: 'helvetica neue';
}
body{
  height: 100%;
  width: 100%;
  background-color:pink;
}
.p{
  max-width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card{
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  box-shadow: 1px 1px 10px 2px gray;
}
.top{
  text-align: end;
  margin-bottom: 10px;
}
.center{
  text-align: center;
}
.center img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.design{
  margin: 10px 0;
  color: rgba(3, 140, 33, 0.758);
  font-size: medium;
  font-weight: bold;
}
.job{
  margin-top: 10px;
  color: gray;
  font-weight: bold;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin-bottom: 10px;
}
ul li{
  padding: 4px 10px;
  border: 1px solid gray;
  border-radius: 30px;
  background-color: skyblue;
}
.description{
  color: gray;
}
.dag{
  display: flex;
  justify-content: center;
}
hr{
  margin: 20px 0;
  width: 30%;
}
.end{
  display: flex;
  justify-content: center;
}
.end button{
  padding: 8px 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 119, 255);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}